/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* cabeçalho */

header {
    background-color: #000000;
    color: #fff;
    padding: 5px;
    text-align: center;
}

/* produtos */

.product {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-left: 60px;
    margin-right: 60px;
}

.product h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

.product p {
    line-height: 1.6;
}

.local {
    background-color: black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.local img {
    max-width: 100%;
    border-radius: 5px;
    margin-right: 2%;
    margin-left: 2%;
}

.menu {
    background-color: #f2f2f2;
    margin: 15px;
}

.menu h1, .menu a, .menu h3 {
    color: black;
}

/* Rodapé */

footer {
    background-color: #000000;
    color: #fff;
    padding: 5px 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

footer .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

footer h3, footer h2, footer ul, footer a {
    font-size: small;
    color: #fff;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    margin: 5px 0;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    text-decoration: underline;
}
